.header-area {
  background: $theme-color-default;
  .header-middle {
    padding: $spacer * 0.75 0 $spacer * 1.25;
    @include media-breakpoint-down(xs) {
      padding: $spacer * 0.625 0;
    }
    .logo {
      h1 {
        line-height: inherit;
      }
      @include media-breakpoint-down(lg) {
        padding-left: $spacer * 3.75;
      }
      @include media-breakpoint-down(xs) {
        padding-left: $spacer * 3.125;
      }
      a {
        width: 175px;
        position: relative;
        top: 3px;
        @include media-breakpoint-between(md, lg) {
          width: 130px;
        }
        @include media-breakpoint-down(sm) {
          width: 120px;
        }
      }
    }
    .header-middle-inner {
      @include media-breakpoint-down(sm) {
        padding-top: $spacer * 0.938;
      }
      input {
        width: 100%;
        height: 60px;
        border: 0px;
        font-size: $font-size-base;
        border-radius: 30px;
        color: $breadcrumb-active-color;
        @include media-breakpoint-down(md) {
          height: 50px;
        }
        @include media-breakpoint-down(xs) {
          height: 40px;
          font-size: $font-size-base * 0.875;
        }
      }
    }
  }
  .box-icone {
    padding-left: $spacer;
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
    & > ul {
      justify-content: space-between;
      .settings {
        position: relative;
        top: 4px;
        @include media-breakpoint-down(lg) {
          &.store {
            display: none;
          }
        }
        a {
          padding: 0 $spacer * 0.125;
          text-align: center;
          color: $white;
          span {
            display: block;
            font-weight: $font-weight-bold;
            letter-spacing: 0.35px;
            @include media-breakpoint-down(lg) {
              display: none;
            }
          }
          i {
            font-size: $font-size-base * 1.938;
            @include media-breakpoint-down(md) {
              font-size: $font-size-base * 1.625;
            }
            @include media-breakpoint-down(xs) {
              font-size: $font-size-base * 1.5;
            }
          }
          img {
            width: 33px;
            height: 33px;
            margin-bottom: 3px;
            @include media-breakpoint-down(md) {
              width: 28px;
              height: 28px;
              margin-bottom: 0;
            }
            @include media-breakpoint-down(xs) {
              width: 25px;
              height: 25px;
              margin-bottom: 0;
            }
          }
          &:hover {
            color: $white;
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}
