.newsletter-group {
  background-color: $theme-color-default;
  padding: $spacer * 2.188 0px;
}

.newsletter-inner {
  i {
    font-size: $font-size-base * 3.75;
    color: $white;
    font-weight: 400;
    line-height: 60px;
    margin-right: $spacer * 1.875;
  }

  .newsletter-title {
    .sign-title {
      font-size: $font-size-base * 1.875;
      color: $white;
      margin-bottom: $spacer * 0.625;
    }

    p {
      color: $white;
    }
  }
}

.newsletter-box {
  position: relative;
  p {
    &.adress {
      margin-top: $spacer;
    }
  }
  .form-check {
    margin-bottom: $spacer;
    .custom-checkbox {
      .form-check-input {
        z-index: 2;
      }

      .checkmark {
        z-index: 1;
        border: $white solid $border-width;
        &:after {
          top: 2px;
        }
      }

      .form-check-label {
        color: $white;
        a {
          color: $white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .email-box {
    width: 100%;
    height: 45px;
    display: block;
    padding: $spacer * 0.625;
    margin-bottom: $spacer * 0.938;
  }

  .newsletter-btn {
    padding: $spacer * 0.438;
    line-height: 25px;
    display: block;
    text-transform: uppercase;
    font-size: $font-size-base * 0.875;
    font-weight: $font-weight-bold;
    color: $white;
    background: none;
    width: 80%;
    margin: auto;
    border: $border-color solid 1px;
    &:hover {
      background: $white;
      color: $theme-color-default;
      border-color: $theme-color-default;
    }
  }
}

.footer_social {
  li {
    margin: 0;
    a {
      background: $theme-color-default;
      height: 40px;
      width: 40px;
      margin-right: $spacer * 0.125;
      position: relative;
      margin-top: 0 !important;

      i {
        font-size: $font-size-base * 1.438;
        color: $white;
      }
      &:before {
        display: none;
      }
    }
  }
}

.footer-top {
  background: $theme-color-default;
  color: $white;
  padding: $spacer * 1.563 0;

  .box-footer {
    .sub-title {
      font-size: $font-size-base * 1.125;
      margin: $spacer * 1.5 0;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      text-align: left;
    }

    li {
      margin-bottom: $spacer * 0.938;
      span {
        display: block;
        text-transform: uppercase;
      }
      a {
        position: relative;
        display: block;
        margin-top: $spacer;
        &:before {
          content: "";
          width: 20px;
          height: 2px;
          background: $bg-home;
          position: absolute;
          top: -7px;
          left: 0;
        }
      }
    }
  }

  .widgets_container {
    p {
      color: $white;
    }

    &.space-l {
      padding-left: $spacer * 3.125;
      @include media-breakpoint-down(md) {
        padding-left: 0;
      }
    }

    h6 {
      margin-bottom: $spacer * 1.25;
      font-size: $font-size-base * 1.125;
      font-weight: $font-weight-bold;
      color: $white;
      @include media-breakpoint-down(md) {
        margin: $spacer * 1.25 0 $spacer * 1;
      }
    }

    .footer_menu {
      p {
        color: $white;

        span {
          text-transform: uppercase;
          display: block;
        }
      }
    }

    ul {
      li {
        a {
          font-size: $font-size-base * 0.875;
          padding: $spacer * 0.313 0;

          &:hover {
            padding-left: $spacer * 0.313;
            color: $white;
          }
        }
      }
    }
  }
}
