// default css
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: $font-family-name, Helvetica, Arial, sans-serif;
  font-size: $font-size-base*0.875;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  font-style: normal;
  position: relative;
  font-stretch: normal;
  letter-spacing: normal;
  visibility: visible;
  color: $body-color;
  background-color: $body-bg;
  overflow-x: hidden;
  &.home{
    background-color: $bg-home;
  }
  @include media-breakpoint-up(xl) {
    .container-xl {
      max-width: 1364px;
    }
  }
  @include media-breakpoint-down(md){
    padding: 1%;
  }
}
a,
button {
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a,
button,
img,
input,
span {
  transition: $transition-base;
  outline: none !important;
}
*:focus {
  outline: none !important;
}
a:focus {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
button,
input[type="submit"] {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn:not(:disabled):not(.disabled){
  &:active{
    &:focus{
      box-shadow: none !important;
    }
  }
  &:focus{
    box-shadow: none !important;
  }

}
.spacer{
  margin-top: $spacer*0.938;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: $font-weight-bolder;
}
h1 {
    font-size: $font-size-base * 3.5;
    line-height: 1.07;
  @include media-breakpoint-down(sm){
    font-size: $font-size-base * 2.25;
    line-height: 1.06;
  }
}
h2{
  font-size: $font-size-base * 2.5;
  line-height: 1.4;
  @include media-breakpoint-down(sm){
    font-size: $font-size-base * 2;
    line-height: 1.13;
  }
}
h3{

  font-size: $font-size-base * 2.25;
  line-height: 1.11;
  @include media-breakpoint-down(sm){
    font-size: $font-size-base * 1.75;
  }
}
h4{

  font-size: $font-size-base * 1.625;
  line-height: 1.15;
  @include media-breakpoint-down(sm){
    font-size: $font-size-base * 1.25;
  }
}

.btn{
  font-weight: $font-weight-bolder;
  line-height: 1.1;
  text-align: center;
  padding: $spacer $spacer*2.5;
  font-size: $font-size-base*1.25;
  border-radius: 0;
  &:hover{
    text-decoration: none;
  }
  @include media-breakpoint-down(sm){
    font-size: $font-size-base;
  }
  @include media-breakpoint-down(xs){
    display: block;
    width: 100%;
  }
}
.btn-dark{
  border: solid $border-width*3 $theme-color-default;
  color: $white;
  background: $theme-color-default;
  &:hover{
    background: $white;
    color: $body-color;
  }
}

.btn-outline-dark{
  border: solid $border-width*3 $theme-color-default;
  color: $body-color;
  &:hover{
    background: $theme-color-default;
    color: $white;
  }
}
.btn-link{
  color: $body-color;
  text-align: left;
  padding-left: 0;
  &:after{
    content: "\f30b";
    font-size: $font-size-base*1.563;
    font-family: "Font Awesome 5 Free";
    left: 10px;
    position: relative;
    top: 4px;

  }
  &:hover{
    color: $color-hover;
  }
}

p:last-child {
  margin-bottom: 0;
}
.text-decoration-true{
  text-decoration: underline;
}