.header-bottom-area {
  position: relative;

  .menu-icon {
    display: none;
    color: $white;
    font-size: $font-size-base * 2.188;
    position: absolute;
    left: 20px;
    top: -89px;
    padding: $spacer * 0.313;
    @include media-breakpoint-down(lg) {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      top: -140px;
    }
    @include media-breakpoint-down(xs) {
      top: -116px;
      font-size: $font-size-base * 1.75;
    }
  }

  .main-menu {
    ul {
      li.level1 {
        display: inline-block;
        margin: 0 $spacer * 0.75;
        &.link-store {
          display: none;
        }
        a.level1 {
          font-size: $font-size-base * 0.875;
          font-weight: $font-weight-bold;
          color: $white;
          line-height: 5;
          text-transform: uppercase;
          position: relative;
          letter-spacing: 0.35px;
          &:after {
            content: "";
            background: $color-hover;
            height: 4px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            display: none;
          }
        }
        &:nth-last-child(-n + 3) {
          float: right;
        }

        &.bg-promo a {
          color: $color-promo;
        }

        .dropdown {
          position: absolute;
          left: 0;
          background: $white;
          z-index: 999;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          width: 100%;
          top: 100%;
        }

        &:hover .dropdown {
          opacity: 1;
          visibility: visible;
          transition: 0.3s;
        }

        &:hover a.level1 {
          color: $color-hover;
          &:after {
            display: block;
          }
        }
      }
    }
    .voir-tout {
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
    .mega-menu {
      position: absolute;
      background: $bg-home;

      &:before {
        content: "";
        position: absolute;
        background: $bg-home;
        z-index: -1;
        height: 100%;
        width: 100vw;
        left: calc(-50vw + 50%);
      }
      &.with-cat {
        &:before {
          background: $white;
        }
      }

      ul {
        text-align: center;

        li.level2 {
          display: inline-block;
          &.selected {
            a.level2 {
              color: $color-hover;
            }
          }
          .dropdown-cat {
            position: absolute;
            left: 0;
            background: $white;
            z-index: 999;
            display: none;

            width: 100%;
            top: 100%;

            &:before {
              content: "";
              position: absolute;
              background: $white;
              z-index: -1;
              height: 100%;
              width: 100vw;
              left: calc(-50vw + 50%);
              box-shadow: 0px 30px 30px 0 rgba(0, 0, 0, 0.1);
            }
          }

          &:hover .dropdown-cat {
            display: block;
          }

          &:hover a.level2 {
            color: $color-hover;
          }

          &:last-child a.level2 {
            margin-right: 0;
          }
        }

        a.level2 {
          color: $body-color;
          font-size: $font-size-base * 0.875;
          font-weight: bold;
          background-color: transparent !important;
          line-height: 4;
          margin-right: $spacer * 1.25;

          &:hover {
          }
        }
      }

      .mega-menu-inner {
        text-align: left;
        padding-top: $spacer * 2.5;
        @include media-breakpoint-up(xl) {
          display: flex;
          justify-content: space-between;
        }

        &:after {
          content: "";
          clear: both;
        }

        li.level3 {
          width: 25%;
          padding-left: $spacer * 0.625;
          display: block;
          &.with-banner {
            text-align: center;
            img {
              display: inline-block !important;
            }
            a {
              font-size: $font-size-base * 1.125;
              font-weight: normal;
              text-decoration: underline;
              text-transform: initial;

              span {
                line-height: 1.5;
                width: 75%;
                display: inline-block;
                padding-top: $spacer;
              }
            }
          }
          @include media-breakpoint-down(lg) {
            padding-left: 0px;
            width: 100%;
          }

          a {
            line-height: 4;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            &:hover {
              color: $color-hover;
            }
          }
          ul.level4 {
            margin-bottom: $spacer;
          }
          li.level4 {
            a {
              font-weight: normal;
              line-height: 2.14;
              display: block;
              text-align: left;
              text-transform: initial;
            }
          }
        }

        &.mm-listview {
          margin: 0 !important;
        }
      }

      .mega-menu-banner {
        padding: $spacer * 0.625 0;
        border-top: $border-color solid $border-width;
        margin-top: $spacer;
        justify-content: space-between;

        a {
          overflow: hidden;
        }

        img {
          width: 100%;

          &:hover {
            transform: scale(1.05) rotate(0.05deg);
            transition: all 300ms linear;
          }
        }
      }
    }
  }
}
/* menu responsive */
.mm-menu_offcanvas {
  z-index: 9;
  @include media-breakpoint-down(xs) {
    max-width: 100%;
    width: 100%;
  }
  .mm-panel_opened {
    padding-bottom: $spacer * 1.875;
    background: $white;
    &.mm-panel:before {
      display: none;
    }
    .mm-btn {
      border-width: 0;
    }
    .mm-btn_next {
      &:after {
        border-color: $color-hover;
      }
    }
    .mm-btn_prev {
      &:before {
        border-color: $color-hover;
      }
    }
    .mm-listitem {
      &.bg-promo {
        a.mm-listitem__text {
          color: $color-promo;
        }
      }
      &.level1 {
        a.mm-listitem__text {
          text-transform: uppercase;
        }
      }
      &.link-store {
        i {
          position: absolute;
          left: 21px;
          top: 14px;
        }
        a.mm-listitem__text {
          font-weight: $font-weight-bolder;
          text-transform: none;
          padding-left: 44px;
        }
      }
      &.level3.with-banner {
        border-color: $white;
        a.mm-listitem__text {
          color: $color-hover;
        }
      }
      a {
        font-weight: $font-weight-bolder;
      }
      .voir-tout {
        color: $color-hover;
        display: inline-block;
        text-align: right;
        font-size: $font-size-base * 0.875;
        font-weight: normal;
        text-transform: none;
      }
    }
    .mm-navbar__title {
      text-align: left;
      color: $body-color;
      text-transform: none;
    }
  }

  .mm-panels {
    top: 60px;
    & > .mm-panel {
      & > .mm-listview {
        margin: 20px 0 20px -20px;
      }
    }
  }
  #for-styling {
    background: $theme-color-default;
    color: $white;
    height: 60px;
    line-height: 60px;
    padding-left: 50px;
    position: relative;
    img {
      height: 40px;
    }
    .btn-close-mmenu {
      i {
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 21px;
      }
    }
  }
}
