// Bootstrap overrides variables
/* simple overrides */
// Body Text
// Font Family
/* Oswald */
$font-family-oswald: "Oswald", Helvetica, Arial, sans-serif;
/* Avenir */
$font-family-name: "Avenir Book";
/* Avenir */
$font-family-base: $font-family-name;
$font-weight-bolder: 900;
$border-color: #ebebeb;
$yellow: #ffcd00;
$green: #5cb85c;
$body-color: #111111;
$breadcrumb-active-color: #757575;
$orange: #ffd4af;
$pink: #ffdddd;
@import "bootstrap/functions";
@import "bootstrap/variables";
/* var dependent overrides */
$theme-colors: map-merge(
  (
    "lepape": $body-color,
  ),
  $theme-colors
);
$theme-color-default: theme-color("lepape");
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xxxl: 1800px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px,
  xxxl: 1800px,
);

/* new var */
$bg-home: #eee;
$info: #e2001a;
$old-price: #777;
$gray-light: #f8f8f8;
$bg-btn-checkout: #ff6702;
$color-hover: #ff8656;
$green-pastel: #acf6d5;
$hover-slider: #ffdacc;
$border-title: #e0e0e0;
$color-promo: #ff1d58;
